<% layout('layouts/boilerplate')%>

<div class="intro">
  <h1>Meal Plan</h1>
</div>

<section id="meal-plan-display">

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Sunday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=sundayBreakfast._id%>"><%=sundayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(sundayBreakfast.calories / sundayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=sundayLunch._id%>"><%=sundayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(sundayLunch.calories / sundayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=sundayDinner._id%>"><%=sundayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(sundayDinner.calories / sundayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Monday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=mondayBreakfast._id%>"><%=mondayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(mondayBreakfast.calories / mondayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=mondayLunch._id%>"><%=mondayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(mondayLunch.calories / mondayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=mondayDinner._id%>"><%=mondayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(mondayDinner.calories / mondayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Tuesday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=tuesdayBreakfast._id%>"><%=tuesdayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(tuesdayBreakfast.calories / tuesdayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=tuesdayLunch._id%>"><%=tuesdayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(tuesdayLunch.calories / tuesdayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=tuesdayDinner._id%>"><%=tuesdayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(tuesdayDinner.calories / tuesdayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Wednesday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=wednesdayBreakfast._id%>"><%=wednesdayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(wednesdayBreakfast.calories / wednesdayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=wednesdayLunch._id%>"><%=wednesdayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(wednesdayLunch.calories / wednesdayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=wednesdayDinner._id%>"><%=wednesdayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(wednesdayDinner.calories / wednesdayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Thursday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=thursdayBreakfast._id%>"><%=thursdayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(thursdayBreakfast.calories / thursdayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=thursdayLunch._id%>"><%=thursdayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(thursdayLunch.calories / thursdayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=thursdayDinner._id%>"><%=thursdayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(thursdayDinner.calories / thursdayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Friday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=fridayBreakfast._id%>"><%=fridayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(fridayBreakfast.calories / fridayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=fridayLunch._id%>"><%=fridayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(fridayLunch.calories / fridayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=fridayDinner._id%>"><%=fridayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(fridayDinner.calories / fridayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

  <div class="meal-plan-card">
    <div class="day-title">
      <h3>Saturday</h3>
    </div>
    <div class="meal-titles">
      <div>
        <h4>
          <a href="/myMeals/<%=saturdayBreakfast._id%>"><%=saturdayBreakfast.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(saturdayBreakfast.calories / saturdayBreakfast.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=saturdayLunch._id%>"><%=saturdayLunch.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(saturdayLunch.calories / saturdayLunch.servings)%>/serving</p>
      </div>
      <div>
        <h4>
          <a href="/myMeals/<%=saturdayDinner._id%>"><%=saturdayDinner.label%></a>
        <h4>
        <p>Calories: <%=Math.floor(saturdayDinner.calories / saturdayDinner.servings)%>/serving</p>
      </div>
    </div>
  </div>

</section>