<% layout('layouts/boilerplate')%>

<main class="wrapper">
  <div class="intro">
    <h1>My Meals</h1>
  </div>

  <section id="recipe-display" class="full-bleed">
    <% for(let meal of meals) {%>
      <div class="recipe-card">
        <img class="recipe-img" src="<%=meal.image%>">
        <h2><a href="<%=meal.sourceURL%>"><%=meal.label%></a></h2>
        <p><%=meal.ingredients%></p>
        <i class="fas fa-clipboard-list fa-2x"></i>
      </div>
      <div>
      <a class="btn btn-primary" href="/myMeals/<%=meal._id%>">View Meal</a>
      <form class="d-inline" action="/myMeals/<%=meal._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add to Meal Plan
      </button>
<!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add to Meal Plan</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/myMeals/<%=meal._id%>?_method=PUT" method="POST">
                <div>
                    <input type="radio" class="btn-check" name="day" id="sunday" autocomplete="off">
                    <label class="btn btn-outline-success" for="sunday">Sunday</label>
                    <input type="radio" class="btn-check" name="day" id="monday" autocomplete="off">
                    <label class="btn btn-outline-success" for="monday">Monday</label>
                    <input type="radio" class="btn-check" name="day" id="tuesday" autocomplete="off">
                    <label class="btn btn-outline-success" for="tuesday">Tuesday</label>
                    <input type="radio" class="btn-check" name="day" id="wednesday" autocomplete="off">
                    <label class="btn btn-outline-success" for="wednesday">Wednesday</label>
                    <input type="radio" class="btn-check" name="day" id="thursday" autocomplete="off">
                    <label class="btn btn-outline-success" for="thursday">Thursday</label>
                    <input type="radio" class="btn-check" name="day" id="friday" autocomplete="off">
                    <label class="btn btn-outline-success" for="friday">Friday</label>
                    <input type="radio" class="btn-check" name="day" id="saturday" autocomplete="off">
                    <label class="btn btn-outline-success" for="saturday">Saturday</label>
                </div>
                <div>
                  <input type="radio" class="btn-check" name="mealtime" id="breakfast" autocomplete="off">
                  <label class="btn btn-outline-success" for="breakfast">Breakfast</label>
                  <input type="radio" class="btn-check" name="mealtime" id="lunch" autocomplete="off">
                  <label class="btn btn-outline-success" for="lunch">Lunch</label>
                  <input type="radio" class="btn-check" name="mealtime" id="dinner" autocomplete="off">
                  <label class="btn btn-outline-success" for="dinner">Dinner</label>
               </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <% } %> 
  </section>

</main>