<% layout('layouts/boilerplate')%>

  <div class="intro">
    <h1>My Meals</h1>
  </div>

  <section id="recipe-display">
    <% for(let meal of meals) {%>
      <div class="recipe-card">
        <img class="recipe-img" src="<%=meal.image%>">
        <div class="meal-box">
          <div class="source-links">
            <h3><a href="<%=meal.sourceURL%>"><%=meal.label%></a></h3>
            <p class="source">Source: <%= meal.source%></p>
          </div>
          <p>Ingredients: <%=meal.ingredients.toString().substring(0,400)%> . . .</p>
          <div class="nutrition-facts">
            <p>Servings: <%=meal.servings%></p>
            <p>Calories per: <%=Math.floor(meal.calories / meal.servings)%></p>
          </div>
          <div class="meal-buttons">
            <a class="view-meal-btn" href="/myMeals/<%=meal._id%>">View Meal</a>
            <form class="d-inline" action="/myMeals/<%=meal._id%>?_method=DELETE" method="POST">
              <button class="delete-btn">Delete</button>
            </form>
          </div>
        </div> 
      </div>
      <div>
    <% } %> 
  </section>

